.header {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: hwb(34 60% 13%);  
    width: 100%;
}

.First-block {
    display:block;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    padding-top: 5px;
    font-weight: 600;
    line-height: 20px;
    width: 100%;
}

.First-block img {
    float: right;
    height: 20vh;
    padding-right: 70px;
    padding-top: 10px;
    margin-right: 0px;
}

.line::after {
    content:"";
    display: block;
    height: 3px;
    background-color: rgb(54, 43, 18);
}
.line-1::after {
    content:"";
    display: block;
    height: 3px;
    background-color:  rgb(54, 43, 18); 
}

.main-menu {
    background-color:rgba(95, 67, 25, 0.808);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    flex-wrap: wrap; /* Дозволяємо переносити кнопки на новий рядок */
    gap: 20px; /* Відступ між сайдбаром та контентом */
}

/* Медіа-запит для планшетів та більших екранів */
@media (min-width: 768px) {
  .header-content {
      flex-direction: row; /* Розміщуємо елементи поруч */
  }

  .img {
      margin-right: 20px; /* Відступ справа */
      margin-bottom: 0; /* Прибираємо відступ знизу */
  }
}


.button11 {
    background-color: hwb(39 36% 19%); 
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-width: 0.45em;
}

.button12 {
    background-color: hwb(39 36% 19%);  
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-width: 0.45em;  
  }
  
  .button21 {
    background-color: hwb(39 36% 19%);  
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-width: 0.45em;  
  }

  .button22 {
    background-color: hwb(39 36% 19%);  
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-width: 0.45em; 
  }

  .button31 {
    background-color: hwb(39 36% 19%);  
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-width: 0.45em;  
  }

  .button32 {
    background-color: hwb(39 36% 19%);  
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-width: 0.45em; 
  }

  .button41 {
    background-color: hwb(39 36% 19%); 
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    border-width: 0.45em; 
  }

  .button42 {
    background-color: hwb(39 36% 19%); 
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder; 
    border-width: 0.45em;
  }

a {
    margin-right: 0px;
    margin-right: 0px;
    background-color: hwb(34 60% 13%);
}

.sidebar {
    padding-top: 20px;
    padding-bottom: 31px;
    padding-left: 15px;
    background-color: hwb(34 60% 13%);  
    line-height: 10px;
    height: 800px;
}

.sidebar-content {
  display: none; /* Ховаємо контент за замовчуванням */
}

/* Медіа-запит для мобільних екранів */
@media (max-width: 768px) {
  .main {
      flex-direction: column; /* Розміщуємо сайдбар та контент один під одним */
  }

  .sidebar {
      width: 100%; /* Сайдбар займає всю ширину */
  }
}


.btnDescription {
    background-color: hwb(39 36% 19%);  
    border-radius: 20px;
    font-size: medium;
    min-height: 50px;
    min-width: 120px;
    border-color: rgb(151, 115, 49);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    border-width: 0.45em;
}

/* Стилі для контейнера з контентом */
.content {
  width: 59%; /* Ширина контенту */
  padding: 20px; /* Внутрішні відступи */
  float: right;
}

/* Стилі для елементів контенту */
.content-item {
  display: none; /* Ховаємо контент за замовчуванням */
}

/* Медіа-запит для екранів з шириною від 1440px */
@media (min-width: 1440px) {
  .main {
      max-width: 1440px; /* Максимальна ширина контейнера */
      margin: 0 auto; /* Центруємо контейнер */
  }
}

