.header {
    margin:0;
    background-color: moccasin;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.First-block {
    display:block;
    padding-left: 35px;
    padding-bottom: 70px;
    padding-top: 15px;
    font-weight: 600;
}

.First-block img {
    float: right;
    height: 25vh;
    padding-right: 100px;

}

.lab-button {
    background-color: aquamarine;
    display: block;
    padding-top: 20px;
    padding-bottom: 380px;
   padding-left: 25px;
}